
<link rel="stylesheet" type="text/css" href="/style.css">
<div align="center">
<h1>Battle Game</h1>

<form action="/names" method="post">
  <div>
      <input type="text" name="Player_1" placeholder="Player 1 - Enter your name">
      <input type="text" name="Player_2" placeholder="Player 2 - Enter your name">
      <br><br>
      <input type="submit" class="button-style" value="Start battle!">
  </div>
</form>
<div>
